body {
  position: relative;
  min-height: 1000px;
  width: 100%;
  background-color: #d0d0d0;
}

header {
  background-color: #1F1F1F;
  height: 100px;
  margin: -8px;
}

.nav {
  color: #F9F4F5;
  text-align: center;  
  font-family: 'Nanum Myeongjo', serif;
  font-size: small;
}

.title-name {
  color: #F9F4F5;
  text-decoration: none;
  font-family: 'Rubik Glitch', cursive;
  font-size: 50px;
  align-self: center;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center; 
  gap: 15px;
}

li a {
  text-decoration: none;
  color: #F8F8F8;
}

.card-body{
  font-family: 'Nanum Myeongjo', serif;
  background-color: #1F1F1F;
  color: #F8F8F8;
}

.portHolder {
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.aboutTitle {
  font-family: 'Rubik Glitch', cursive;
  font-size: 25px;
  color: black;
}

.aboutText {
  font-family: 'Nanum Myeongjo', serif;
  color: black;
} 

.portrait {
  height: 600px;
}

.aboutDiv {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

aside {
  margin-left: 20px;
  width: 300px;
}

.label-text {
  font-size: 30px;
  margin: 20px;
  font-family: 'Nanum Myeongjo', serif;
  color: black;
}

.contactForm {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sendBtn {
  margin-top: 10px;
}

input, textarea, .sendBtn {
  font-family: 'Nanum Myeongjo', serif;
  color: #d0d0d0;
}

.resumeFile {
  display: flex;
  justify-content: center;
  margin-top: 11px;
}

footer {
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -8px;
  background-color: #1F1F1F;
  color: #F8F8F8;
  font-size: 20px;
  font-family: 'Rubik Glitch', cursive;
}

.footText {
  margin-right: 40px;
  margin-top: 35px;
}